{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
   
    <form>
        <div class="dash-board"> 
         <h1> WELCOME TO JOB SEEKER'S DASHBOARD </h1>
	     <a href="{% url 'uploads' %}" class="btn btn-info">Upload details</a> <br>  
         <a href="{% url 'job-open' %}" class="btn btn-info">View job openings</a>

        </div> 
    </form> 

{% endblock content %}  



    <!-- in this template, styling the upload details is all that is required. Creating the view job openings is also required -->